
@using WebMVC.Models.OrderModels

@using WebMVC.ViewModels
@model IEnumerable<Order>
    @{
        ViewData["Title"] = "My Orders";
    }
    <h2>Orders Summary</h2>
    <div class="esh-orders">
        @Html.Partial("_Header", new List<Header>() {
        new Header() { Controller = "Event", Text = "Back to eventscatalog" }
         })
        <div class="container">
            <article class="esh-orders-titles row"> 
                <section class="esh-orders-title col-xs-2">Order No</section>
                <section class="esh-orders-title col-xs-2">User</section>
                <section class="esh-orders-title col-xs-2">Date</section>
                <section class="esh-orders-title col-xs-2">Total</section>
                <section class="esh-orders-title col-xs-2">Status</section>
                <section class="esh-orders-title col-xs-2">OrderDetails</section>
            </article>
            @foreach (var item in Model)
            {
        <article class="esh-orders-items row">
            <section class="esh-orders-item col-xs-2">@Html.DisplayFor(modelItem => item.OrderId)</section>
            <section class="esh-orders-item col-xs-2">@Html.DisplayFor(modelItem => item.FirstName)</section>
            <section class="esh-orders-item col-xs-2">@Html.DisplayFor(modelItem => item.Date)</section>
            <section class="esh-orders-item col-xs-2">$ @Html.DisplayFor(modelItem => item.OrderTotal)</section>
            <section class="esh-orders-item col-xs-2">@Html.DisplayFor(modelItem => item.OrderStatus)</section>
            <section class="esh-orders-item col-xs-2">
                <div class="esh-event-title">
                    <a href="@Url.Action("Detail", "Order", new { orderId = item.OrderId })" class="esh-event-title"><span>Details</span></a>
                </div>

            </section>
        </article>
            }
        </div>
    </div>
